@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Test Exam Project</h1>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Group Name</h2>
        <ul>
            <li>Group 3</li>
        </ul>
    </div>
    <div class="col-md-6">
        <h2>Members</h2>
        <ul>
            <li>Christian Philip Ege Østergaard Nielsen</li>
            <li>Joachim Ellingsgaard Christensen</li>
            <li>Xinkai Huang</li>
        </ul>
    </div>
</div>